*{
    box-sizing: border-box;
}
#geral{
    width: 500px;
    min-height: 500px;
    padding: 10px;
    margin: 20px auto;
    letter-spacing: 3px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

h3{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #333;
}

#div-form-pessoa, #div-lista-veiculos{
    width: 100%;
    padding: 5px;
    margin: 20px 0px;
    background-color: #e5e2eb;
    color: #444;
}

#form-pessoa{
    padding: 5px;
    border-radius: 15px;
    font-size: 1.2em;
    box-shadow: 0 5px 15px rgba (0, 0, 0,0.15);
}

label, input{
    display: block;
    margin: 15px 0px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

input{
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button{
    width: 200px;
    height: 20px;
    flex: 1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#div-lista-veiculos{
    width: 100%;
    color: #000000;
}